*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
p,
figure,
picture {
  margin: 0;
}

/* Body set up */

html {
  font-size: 62.5%;
}
:root {
  /* color-scheme: light dark; */

  /* Primary */
  --brightBlue: hsl(220, 98%, 61%);
  --checkBackground: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  /* Light Theme */
  --veryLightGray: hsl(0, 0%, 98%);
  --veryLightGrayishBlue: hsl(236, 33%, 92%);
  --lightGrayishBlue: hsl(233, 11%, 84%);
  --darkGrayishBlue: hsl(236, 9%, 61%);
  --veryDarkGrayishBlue: hsl(235, 19%, 35%);

  /* Dark Theme */
  --veryDarkBlue: hsl(235, 21%, 11%);
  --veryDarkDesaturatedBlue: hsl(235, 24%, 19%);
  --lightGrayishBlueDT: hsl(234, 39%, 85%);
  --lightGrayishBlueHover: hsl(236, 33%, 92%);
  --darkGrayishBlueDT: hsl(234, 11%, 52%);
  --veryDarkGrayishBlueDT1: hsl(233, 14%, 35%);
  --veryDarkGrayishBlueDT2: hsl(237, 14%, 26%);
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100%;
  background: url("/images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
}
.container {
  width: 540px;
  margin: auto;
  padding-top: 7.9rem;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  & .app-header-title {
    font-size: 4.1rem;
    color: var(--veryLightGray);
    margin-bottom: 5rem;
    letter-spacing: 1.8rem;
  }
}

#add-todo-form {
  width: 54rem;
  height: 6.4rem;
  border-radius: 0.4rem;
  border: 0.2rem solid transparent;
  background-color: var(--veryLightGray);
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 0 0 2.4rem;
}

#add-todo-form:focus-within {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%))
      border-box;
  border-radius: 0.4rem;
  border: 0.2rem solid transparent;
}

.add-todo-input-label {
  height: 100%;
  flex: 1;
}
#add-todo-input {
  border: 0.2rem solid transparent;
  height: 100%;
  padding-left: 2.4rem;
  font-size: 1.6rem;
  width: 100%;
}
#add-todo-input:focus-visible {
  outline: none;
}
.custom-checkbox-container {
}

.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 24px;
  width: 24px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 5px;
  left: 5px;
  opacity: 0;
  position: absolute;
  top: 6px;
  width: 12px;
  transform: rotate(-45deg);
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border-color: var(--brightBlue);
}
.round input[type="checkbox"]:hover + label {
  border-color: var(--brightBlue);
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
